<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                <div class="pointer-events-auto w-screen max-w-md">
                    <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                        <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                            <div class="flex items-start justify-between">
                                <div>
                                    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Carrito de
                                        Compras
                                    </h2>
                                </div>
                                <div>
                                    <button (click)="clearCart()" type="button" [disabled]="cartNow.items.length === 0"
                                        class="font-medium text-green-600 hover:text-green-500">Vaciar
                                        Carrito</button>
                                </div>
                                <div class="ml-3 flex h-7 items-center">
                                    <button (click)="closeCart()" type="button"
                                        class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
                                        <span class="absolute -inset-0.5"></span>
                                        <span class="sr-only">Close panel</span>
                                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="mt-8">
                                <div class="flow-root">
                                    <div (click)="clearCart()" type="button" *ngIf="cartNow.items.length === 0"
                                        class="font-bold text-green-600 hover:text-green-500">No Hay
                                        Elementos
                                        Disponibles en su Carrito de Compras
                                    </div>
                                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                                        <li *ngFor="let item of cartNow.items" class="flex py-6">
                                            <div
                                                class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                                <img [src]="'../../../assets/img/product/' + item.image"
                                                    alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                                                    class="h-full w-full object-cover object-center">
                                            </div>

                                            <div class="ml-4 flex flex-1 flex-col">
                                                <div>
                                                    <div
                                                        class="flex justify-between text-base font-medium text-gray-900">
                                                        <h3>
                                                            <a href="#">{{item.productName}}</a>
                                                        </h3>
                                                        <p class="ml-4">{{setMoneyFormat(item.totalPrice)}}</p>
                                                    </div>
                                                    <p class="mt-1 text-sm text-gray-500">{{item.description}}</p>
                                                </div>
                                                <div class="flex flex-1 items-end justify-between text-sm">
                                                    <p class="text-gray-500">Cant. {{ item.quantity}}</p>

                                                    <div class="flex">
                                                        <button type="button" (click)="removeProduct(item.productId)"
                                                            class="font-medium text-green-600 hover:text-green-500">Eliminar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                            <div class="flex justify-between text-base font-medium text-gray-900">
                                <p class="font-bold">Total</p>
                                <p class="font-extrabold">{{setMoneyFormat(cartNow.total)}}</p>
                            </div>
                            <div class="mt-6">
                                <button (click)="buyCart(cartNow)" [disabled]="cartNow.items.length === 0"
                                    class="flex items-center justify-center rounded-md border border-transparent bg-green-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-green-700">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>